services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=app
    ports:
      - "5433:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_PORT=5432
    depends_on:
      - db

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_PORT=5432
    command: poetry run alembic upgrade head
    depends_on:
      - db

volumes:
  postgres_data:
